@media screen and (max-width:1300px){
  #menu{
    height: 100%;
    margin-right: 0vw;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 50px;
    text-align: center;
    transition: 0.5s;
    display: block;
    /* width: 0; */
    /* width: 100%; */
    /* padding-bottom: 0; */
    /* position: absolute; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/undraw_right_direction_tge8.svg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
#menu li{
  padding: 0;
  padding-top: 30px;
  /* transition: 0.5s; */
}

.dropdown ol{
    margin-top: 0;
    width: 100%;
    background-color: rgb(14, 14, 14);
} 

#menu li a{
    padding: 3px 3px 3px 32px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    /* background-color: rgb(82, 82, 82); */
}

#menu li{
    display: block;
}

#menu ol a{
    text-align: center;
    display: inline;
    bottom: 0;
    /* padding-left: 10px; */
    /* position: absolute; */
    /* background-color: rgb(236, 0, 0); */
}
.dropdown-content{
  font-size: 0.8em;
}
.dropdown:hover .dropdown-content {
    display: block;
    
  }
  
/* .dropdown:onclick .dropdown-content {
    display: block;
  } */
.social{
  visibility: initial;
  /* margin-top: 30px; */
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.social ol{
  text-align: center;
  width: 100%;
}

.navbar ul li a{
  font-size: 1em;
}
}
@media (max-width:700px){
  .navbar ul li a{
    font-size: 0.8em;
  }
}