.portfolio-cover{
    margin-top: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/going-imgs/first\ going.jpg);
    min-height: 100%;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    max-height: 28vh;
}
.cover-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    padding: 0 8vw 0 8vw;
}
.portfolio-cover-text{
    color: white;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: -0.6px;
}

@media (max-width: 1300px){
    .portfolio-cover-text{
        font-size: 1.2em;
    }
}
@media (max-width: 700px){
    .portfolio-cover-text{
        font-size: 1em;
    }
}
.browse-text{
    background-color: white;
    padding: 20px;
    display: grid;
}

.projects-container{
    margin: 50px 8vw 0vw 8vw;
    /* background-color: red; */
    display: grid;
    gap: 1em;
    grid-auto-rows: 370px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project1-container{
    /* background-color: rosybrown; */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url(/images/projects/dolphin/dolphin\ tower.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}


.project2-container{
    /* background-color: rosybrown; */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url(/images/about-page/modern-architecture-1774931.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}
.project3-container{
    /* background-color: rosybrown; */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url(/images/content-cover/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}
.project4-container{
    /* background-color: rosybrown; */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url(/images/going-imgs/first\ going.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}
.project5-container{
    /* background-color: rosybrown; */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url(/images/projects/dolphin/q3da.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

.project1-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* padding-bottom: 10px; */
    padding-top: 10px;
   
    /* display: block; */
    position: absolute;
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* background-color: #008CBA; */
  overflow: hidden;
  /* width: 100%; */
  height: 18%;
  transition: 1s ease;
    
}
.project1-text a{
    font-size: 1em;
    color: white;
    white-space: pre-line;
    font-weight: 900;

  color: white;
  font-size: 17px;
  text-align: center;
}

.project1-container:hover .project1-text{
    background-color: #FFE01B;
    transition: 1s ease;
    height: 35%;
}
.project1-container:hover .project1-text a{
    color: black;
    transition: 1s ease;
}
.project2-container:hover .project1-text{
    background-color: #FFE01B;
    transition: 1s ease;
    height: 35%;
}
.project2-container:hover .project1-text a{
    color: black;
    transition: 1s ease;
}
.project3-container:hover .project1-text{
    background-color: #FFE01B;
    transition: 1s ease;
    height: 35%;
}
.project3-container:hover .project1-text a{
    color: black;
    transition: 1s ease;
}
.project4-container:hover .project1-text{
    background-color: #FFE01B;
    transition: 1s ease;
    height: 35%;
}
.project4-container:hover .project1-text a{
    color: black;
    transition: 1s ease;
}
.project5-container:hover .project1-text{
    background-color: #FFE01B;
    transition: 1s ease;
    height: 35%;
}
.project5-container:hover .project1-text a{
    color: black;
    transition: 1s ease;
}
#see-project{
    white-space: pre;
    font-size: 0.7em;
    background-color: black;
    transition: 1s ease;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.project1-container:hover #see-projects{
    background-color: black;
}

@media (max-width:1300px){
    .projects-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project1-text a{
        font-size: 18px;
    }
}
@media (max-width:1100px){
    .projects-container{
        grid-template-columns: 1fr 1fr;
    }
    .project1-text a{
        font-size: 15px;
    }
}
@media (max-width:700px){
    .projects-container{
        grid-template-columns: 1fr;
    }
    .project1-text a{
        font-size: 15px;
    }
    .projects-container{
        grid-auto-rows: 320px;
    }
}