.about-cover{
    margin-top: 60px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/about-page/modern-architecture-1774931.jpg);
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 28vh;
    /* min-height: 100vh; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.about-cover-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* background-color: red; */
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 1000;
    word-spacing: 2.3px;
    width: 100%;
}

.whyelegants{
    margin-top: 50px;   
    font-size: 15px; 
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-left: 8vw;
    margin-right: 8vw;
    border-bottom: 1px #FFE01B solid;
}


/* TEAM */
.team-container{
    margin: 50px 8vw 0vw 8vw;
    display: grid;
    column-gap: 2em;
    /* row-gap: 1em; */
    grid-template-columns: 50% 50%;
    grid-auto-rows: 500px;
}
.team-img{
    width: 100%;
    height: 100%;
    background-image: url(/images/about.jpg);
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
.team-img2{
    width: 100%;
    height: 100%;
    background-image: url(/images/fathi.jpg);
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
.team-text{
    text-align: left;
    white-space: pre-line;
    
}

.team-name{
    white-space: pre-line;
    /* margin:0px 8vw 0vw 8vw; */
}

.team-img-container{
    display: grid;
    grid-template-rows: 90% 10%;
    gap: 1em;
}
@media (max-width:800px){
    .team-text{
        font-size: 13px;
        
    }
    .about-cover-text{
        font-size: 1.4em;
    }
    .team-container{
        grid-template-columns: 1fr;
    }
    

}
